<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Missouri Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

</head>

<body>


    <div class="wrapper">
        <div class="container-fluid">
            <div class="weather">
                <h1></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="wrapper">
                <div class="container-fluid w3-center w3-margin-top">
                    <section>
                        <div class='tableauPlaceholder' id='viz1570154794500' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Mi&#47;MissouriWeatherBook&#47;MissouriWeatherStations&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'
                                style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='MissouriWeatherBook&#47;MissouriWeatherStations' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Mi&#47;MissouriWeatherBook&#47;MissouriWeatherStations&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
                        <script type='text/javascript'>
                            var divElement = document.getElementById('viz1570154794500');
                            var vizElement = divElement.getElementsByTagName('object')[0];
                            vizElement.style.width = '100%';
                            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                            var scriptElement = document.createElement('script');
                            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                            vizElement.parentNode.insertBefore(scriptElement, vizElement);
                        </script>
                    </section>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="w3-card w3-container w3-white w3-row-padding w3-margin-top w3-margin-bottom">
                <h3>Enter your weather data!</h3>
                <form method="POST" action="/send" role="form" , name="petform">
                    <div class="form-group">
                        <label for="inputName">Day</label>
                        <input type="text" class="form-control" id="day" name="day1" placeholder="15">
                    </div>
                    <div class="form-group">
                        <label for="inputName">Month</label>
                        <input type="text" class="form-control" id="month" name="month1" placeholder="4">
                    </div>
                    <div class="form-group">
                        <label for="inputName">Year</label>
                        <input type="text" class="form-control" id="year" name="year1" placeholder="4">
                    </div>
                    <div class="form-group">
                        <label for="inputType">Lat</label>
                        <input type="text" class="form-control" id="Lat" name="Lat1" placeholder="-39.7">
                    </div>
                    <div class="form-group">
                        <label for="inputAge">Long</label>
                        <input type="text" class="form-control" id="Long" name="Long1" placeholder="90">
                    </div>
                    <div>
                        <script>
                            myVar = setTimeout(show(), 10000000);
                        </script>
                        <button onclick="setTimeout(show(), 10000000);">Try it</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-4">
            <div class="w3-card w3-container w3-white w3-margin-right w3-margin-top" id="WeatherCard">
                <h3> Weather Forecast </h3>
                <div id="id1" class="class1">
                    <img data-src="../static/resources/rainy.gif" alt="" height=150px width=150px>
                    <img data-src="../static/resources/tenor.gif" alt="" height=150px width=150px>
                </div>
                <ul>
                    {% for item in data %}
                    <li>Month: {{item.Month}}</li>
                    <li>Day: {{item.Day}}</li>
                    <li>Prediction: {{item.Prediction}}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="../static/js/logic.js"></script>
    <script>
        function show() {
            console.log("CALLED SHOW")
            document.getElementById('id1').style.maxHeight = "200px";
            var images = document.querySelectorAll("#id1 img");
            for (var i = 0; i < images.length; i++) {
                images[i].src = images[i].getAttribute('data-src');
            }
        }
    </script>
    <a class="weatherwidget-io" href="https://forecast7.com/en/38d61n90d41/st-louis-county/?unit=us" data-label_1="ST. LOUIS COUNTY" data-label_2="WEATHER" data-theme="marine">ST. LOUIS COUNTY WEATHER</a>
    <script>
        ! function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = 'https://weatherwidget.io/js/widget.min.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'weatherwidget-io-js');
    </script>

</body>

</html>